@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// flixable margin
@mixin margin-bottom($val) {
  margin-bottom: $val;
}
@mixin margin-top($val) {
  margin-top: $val;
}
@mixin margin-right($val) {
  margin-right: $val;
}
@mixin margin-left($val) {
  margin-left: $val;
}

// flixable-padding
@mixin padding-bottom($val) {
  padding-bottom: $val;
}
@mixin padding-top($val) {
  padding-top: $val;
}
@mixin padding-right($val) {
  padding-right: $val;
}
@mixin padding-left($val) {
  padding-left: $val;
}

// media query manager
// breakpoints :
// 300 - 600
// 600 - 900
// 900 - 1200
// 1200 - 1800
// 1800+


// // 1px = 6.25em 


@mixin responsive($screen-res) {
  // small
  @if $screen-res == "small" {
    @media (max-width: 25em) {
      @content;
    }
  }
  // 600px
  @if $screen-res == "phone" {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  // 900px
  @if $screen-res == "tab-port" {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  // 1200px
  @if $screen-res == "tab-land" {
    @media (max-width: 75em) {
      @content;
    }
  }
  // 1800px
  @if $screen-res == "desktop-big" {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
