// colors 

$Dark-green: #28b485;
$Medium-green: #55c57a;
$Light-green: #7ed56f;

$Light-orange: #ffb900;
$Dark-orange: #ff7730;

$Light-blue: #2998ff;
$Dark-blue: #5643fa;

$grey-light: #777;
$grey-light-2 : #999 ;
$grey-light-3 : #333 ;

$light-dark : #f7f7f7; 

$color-black : #000 ;
$color-white : #ffff ;

$default-font-size : 1.6rem ;

// grid 

$grid-width : 114rem ; 
$grid-width-tab : 75rem ;
$grid-margin-bottom : 6rem ;

$gutter-horizental : 4rem ;  
$gutter-vertical : 8rem ;
$gutter-vertical-tab : 6rem ;