// colors 

$Dark-green: #28b485;
$Medium-green: #55c57a;
$Light-green: #7ed56f;

$grey-light: #777;

$color-black : #0000 ;
$color-white : #ffff ;

// grid 

$grid-width : 114rem ; 
$grid-margin-bottom : 6rem ;

$gutter-horizental : 4rem ;  
$gutter-vertical : 8rem ;