.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
    transition: all 0.3s;
    outline-offset: 2rem;

    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: -2rem;
    }
    &:nth-child(2) {
      position: absolute;
      top: 0;
      right: 2rem;
    }
    &:nth-child(3) {
      position: absolute;
      left: 20%;
      top: 10rem ;
    }

    &:hover {
      transform: scale(1.1);
      outline: 1rem solid $Light-green;
      z-index: 1;
    }
  }


  &:hover &__photo:not(:hover) {
      transform: scale(0.9);
  }
}
