body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in;

    @include responsive(phone){
      font-size: 4rem ;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-in;
    @include responsive(phone){
      font-size: 1.5rem ;
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  
  transition: all 0.2s;
  
  // background text clip
  display: inline-block;
  background-image: linear-gradient(to right, $Light-green, $Light-green);
  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    transform: skewY(2deg);
    text-shadow: 2px 10px 1rem rgba($color-black, $alpha: 0.2);
  }

  @include responsive(tab-port){
    font-size : 3rem ;
  } ;
  @include responsive(phone) {
    font-size : 2rem ;
  }
}
.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;

  @include responsive(phone) {
    font-size : 1.4rem ;
  }
}
.paragraph {
  font-size: 1.6rem ;
  text-align: justify;
  &:not(:last-child) {
    margin-bottom: 2rem;
  } 
}