.center-div {
    text-align: center;
}

.display-relative {
    position : relative !important ; 
}

.margin-bottom-s {
    margin-bottom: 2rem !important ;
}
.margin-bottom-m {
    margin-bottom: 4rem !important ;
}
.margin-bottom-h {
    margin-bottom: 8rem !important ;
}

.margin-top-s {
    margin-top: 2rem !important ;
}
.margin-top-m {
    margin-top: 4rem !important ;
}
.margin-top-h {
    margin-top: 8rem !important ;
}
